@import '../../scss/breakpoints';
@import '../../scss/colors';
@import '../../scss/typography';

$drop-shadow: rgba(255, 255, 255, .075);

.results {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  flex-flow: row wrap;
}

.results-item {
  display: flex;
  position: relative;
  margin: 0 1% 15px;
  border-radius: 5px;
  box-shadow: 0 3px 20px $drop-shadow;
  background: $card-bg;
  padding: 15px 20px;
  width: 100%;
  overflow: hidden;
  list-style: none;
  flex-direction: column;

  @media screen and (min-width: $laptop) {
    width: 48%;
  }

  @media screen and (min-width: $large-desktop) {
    width: 31.3333%;
  }
}

.results-type {
  float: right;
  font-weight: 400;
  letter-spacing: 0.05rem;
  font-size: 0.9rem;
  color: $gray-light;
}

.results-title {
  display: inline-block;
  margin: 0 0 10px;
  border-bottom: 2px solid $highlight-color;
  padding-bottom: 3px;
  line-height: 2rem;
  font-family: $header-font;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.results-info {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 700;
  text-transform: uppercase;
  color: $gray-light;
  font-size: 0.8rem;
  line-height: 1.5rem;
  span {
    float: right;
    color: $black;
    text-transform: capitalize;
    font-weight: 400;
  }
}
